@page
@model ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span>
                <button class="btn btn-light">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-primary"
                   asp-page="./Detail"
                   asp-route-restaurantId="@restaurant.Id">

                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
        </tr>
    }
</table>

<div>@Model.Message</div>


